:root {
    --dark-gray: #c9c9d3;
    --off-white: #f3f4f6;
  }
  
  body{
    font-family: 'Century Gothic',sans-serif;
    margin: 0;
    padding: 0;
    background: url("yatch.jpg") no-repeat ;
    background-size: cover;  
  }
  
  .body
  }
  .header {
  padding: 10px; /* some padding */
  font-size:150%; 
  border-radius: 25px;
  max-width: 2500px;
  margin: 1em;
  text-align: center; /* center the text */
  background: rgba(0, 0, 0, 0.4);
  color: white; 
  }
  .navbar{
  overflow:hidden;
  background-color: rgb(42, 42, 54);
  color: white;
  }
  .navbar a{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  a:hover {
    background-color: rgb(53, 132, 197);
  }
  h1 {
      text-align: center;
    }
  
  .content{
   
      border-style:inherit;
      text-overflow: ellipsis;
      overflow:hidden;
      padding: 20px;
      text-align: center;  
      border-radius: 25px;
      max-width: 2000px;
      margin: 1em;

      background-color: rgba(175, 162, 162, 0.577);
    }
  
  .content-inside{
    border-style:inherit;
    padding: 10px;
    text-align: center;
    position:relative ;
    border-radius: 25px;
    max-width: 800px;
    margin: 2em auto;
    line-height:28px
  }
  p {
      font-size: 1.3vw;
  }
  .footer{
  text-align: center;
  padding-block: 2px;
  /* border-top: 5px;  */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  max-width: 2500px;
  /* margin: 1em; */
  color: white; 
  }
  .link {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: larger;
  
  }